In [35]:
import pandas as pd

In [36]:
path = "D:/BMD/Lab1/TFT.csv"
data = pd.read_csv(path,encoding = 'utf-8')
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [37]:
import os
print("The directory we working in is: {}".format(os.getcwd()))

The directory we working in is: C:\Users\Костет

In [38]:
data

,gameId,gameDuration,level,lastRound,Ranked,ingameDuration,combination,champion
0,"KR_4247538593,2142.470703125,8,35,1,2134.27221...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"KR_4247538593,2142.470703125,9,35,2,2134.27221...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"KR_4247538593,2142.470703125,8,34,3,2073.45922...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"KR_4247538593,2142.470703125,8,33,4,1998.14672...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"KR_4247538593,2142.470703125,9,33,5,1986.44323...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
35381,"KR_4328009362,2219.92578125,7,24,7,1317.401855...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
35382,"KR_4328009362,2219.92578125,7,23,8,1301.194824...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
35383,"KR_4328028623,2136.052734375,8,40,1,2127.76440...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
35384,"KR_4328028623,2136.052734375,9,40,2,2127.76440...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
35385,"KR_4328028623,2136.052734375,9,38,3,2027.33154...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
data.shape

(35386, 8)

In [40]:
data.head

<bound method NDFrame.head of                                                   gameId  gameDuration  level  \
0      KR_4247538593,2142.470703125,8,35,1,2134.27221...           NaN    NaN
1      KR_4247538593,2142.470703125,9,35,2,2134.27221...           NaN    NaN
2      KR_4247538593,2142.470703125,8,34,3,2073.45922...           NaN    NaN
3      KR_4247538593,2142.470703125,8,33,4,1998.14672...           NaN    NaN
4      KR_4247538593,2142.470703125,9,33,5,1986.44323...           NaN    NaN
...                                                  ...           ...    ...
35381  KR_4328009362,2219.92578125,7,24,7,1317.401855...           NaN    NaN
35382  KR_4328009362,2219.92578125,7,23,8,1301.194824...           NaN    NaN
35383  KR_4328028623,2136.052734375,8,40,1,2127.76440...           NaN    NaN
35384  KR_4328028623,2136.052734375,9,40,2,2127.76440...           NaN    NaN
35385  KR_4328028623,2136.052734375,9,38,3,2027.33154...           NaN    NaN

       lastRound  Ranked  ingameDuration combination champion
0            NaN     NaN             NaN         NaN      NaN
1            NaN     NaN             NaN         NaN      NaN
2            NaN     NaN             NaN         NaN      NaN
3            NaN     NaN             NaN         NaN      NaN
4            NaN     NaN             NaN         NaN      NaN
...          ...     ...             ...         ...      ...
35381        NaN     NaN             NaN         NaN      NaN
35382        NaN     NaN             NaN         NaN      NaN
35383        NaN     NaN             NaN         NaN      NaN
35384        NaN     NaN             NaN         NaN      NaN
35385        NaN     NaN             NaN         NaN      NaN

[35386 rows x 8 columns]>

In [41]:
data.tail

<bound method NDFrame.tail of                                                   gameId  gameDuration  level  \
0      KR_4247538593,2142.470703125,8,35,1,2134.27221...           NaN    NaN
1      KR_4247538593,2142.470703125,9,35,2,2134.27221...           NaN    NaN
2      KR_4247538593,2142.470703125,8,34,3,2073.45922...           NaN    NaN
3      KR_4247538593,2142.470703125,8,33,4,1998.14672...           NaN    NaN
4      KR_4247538593,2142.470703125,9,33,5,1986.44323...           NaN    NaN
...                                                  ...           ...    ...
35381  KR_4328009362,2219.92578125,7,24,7,1317.401855...           NaN    NaN
35382  KR_4328009362,2219.92578125,7,23,8,1301.194824...           NaN    NaN
35383  KR_4328028623,2136.052734375,8,40,1,2127.76440...           NaN    NaN
35384  KR_4328028623,2136.052734375,9,40,2,2127.76440...           NaN    NaN
35385  KR_4328028623,2136.052734375,9,38,3,2027.33154...           NaN    NaN

       lastRound  Ranked  ingameDuration combination champion
0            NaN     NaN             NaN         NaN      NaN
1            NaN     NaN             NaN         NaN      NaN
2            NaN     NaN             NaN         NaN      NaN
3            NaN     NaN             NaN         NaN      NaN
4            NaN     NaN             NaN         NaN      NaN
...          ...     ...             ...         ...      ...
35381        NaN     NaN             NaN         NaN      NaN
35382        NaN     NaN             NaN         NaN      NaN
35383        NaN     NaN             NaN         NaN      NaN
35384        NaN     NaN             NaN         NaN      NaN
35385        NaN     NaN             NaN         NaN      NaN

[35386 rows x 8 columns]>

In [42]:
data.dtypes

gameId             object
gameDuration      float64
level             float64
lastRound         float64
Ranked            float64
ingameDuration    float64
combination        object
champion           object
dtype: object

In [43]:
data['lastRound'].describe()

count    19.000000
mean     30.947368
std       8.803242
min      12.000000
25%      25.000000
50%      33.000000
75%      38.500000
max      44.000000
Name: lastRound, dtype: float64

In [44]:
cut_data=data.iloc[0:10,:]
cut_data

,gameId,gameDuration,level,lastRound,Ranked,ingameDuration,combination,champion
0,"KR_4247538593,2142.470703125,8,35,1,2134.27221...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"KR_4247538593,2142.470703125,9,35,2,2134.27221...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"KR_4247538593,2142.470703125,8,34,3,2073.45922...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"KR_4247538593,2142.470703125,8,33,4,1998.14672...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"KR_4247538593,2142.470703125,9,33,5,1986.44323...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"KR_4247538593,2142.470703125,8,31,6,1878.47009...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"KR_4247538593,2142.470703125,9,31,7,1866.66149...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"KR_4247538593,2142.470703125,8,28,8,1694.41735...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"KR_4247595409,2386.106201171875,9,41,1,2377.76...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"KR_4247595409,2386.106201171875,9,41,2,2377.76...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
new_data = ["x1","x1","x2","x1","x2","x2","x2","x1","x2","x1"]
cut_data.insert(1,"NewGroup",new_data)
cut_data

,gameId,NewGroup,gameDuration,level,lastRound,Ranked,ingameDuration,combination,champion
0,"KR_4247538593,2142.470703125,8,35,1,2134.27221...",x1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"KR_4247538593,2142.470703125,9,35,2,2134.27221...",x1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"KR_4247538593,2142.470703125,8,34,3,2073.45922...",x2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"KR_4247538593,2142.470703125,8,33,4,1998.14672...",x1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"KR_4247538593,2142.470703125,9,33,5,1986.44323...",x2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"KR_4247538593,2142.470703125,8,31,6,1878.47009...",x2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"KR_4247538593,2142.470703125,9,31,7,1866.66149...",x2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"KR_4247538593,2142.470703125,8,28,8,1694.41735...",x1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"KR_4247595409,2386.106201171875,9,41,1,2377.76...",x2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"KR_4247595409,2386.106201171875,9,41,2,2377.76...",x1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
cut_data.groupby('NewGroup').describe()

         gameDuration                              level       ... Ranked      \
                count mean std min 25% 50% 75% max count mean  ...    75% max
NewGroup                                                       ...
x1                0.0  NaN NaN NaN NaN NaN NaN NaN   0.0  NaN  ...    NaN NaN
x2                0.0  NaN NaN NaN NaN NaN NaN NaN   0.0  NaN  ...    NaN NaN

         ingameDuration
                  count mean std min 25% 50% 75% max
NewGroup
x1                  0.0  NaN NaN NaN NaN NaN NaN NaN
x2                  0.0  NaN NaN NaN NaN NaN NaN NaN

[2 rows x 40 columns]

In [47]:
data.to_csv('./OldVersion.csv')

In [48]:
cut_data.to_csv('./NewVersion.csv')